@import "./base.css";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@media only screen and (max-width: 767px) {
  .prose {
    padding: 3rem 2rem;
    overflow-y: scroll;
    /* max-height: 75vh; */
  }
}

@media only screen and (min-width: 767px) {
  .prose {
    padding: 4rem;
    max-height: auto;
    overflow: auto;
  }
}

.prose p {
  margin-bottom: 1.5rem;
}

p a {
  @apply transition-colors duration-150 inline-block;
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}

.fade-leave-active {
  transition: opacity 0.125s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  position: absolute;
  right: 0;
}

.fade-leave-active {
  position: absolute;
  right: 0;
}

.slide-up-enter-active {
  transition:
    opacity 1s ease,
    transform 0.125s ease;
}

.slide-up-leave-active {
  transition:
    opacity 0.25s ease,
    transform 0.125s ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.title-enter-active {
  transition: transform 0.5s ease;
}

.title-leave-active {
  transition: transform 0.5s ease;
}

.title-enter-from,
.title-leave-to {
  transform: translateY(120%);
}

@media screen and (min-width: 767px) {
  .title-enter-from,
  .title-leave-to {
    transform: translateY(100%);
  }
}

.slide-up-enter-active {
  transition:
    opacity 1s ease,
    transform 0.125s ease;
}

.slide-up-leave-active {
  transition:
    opacity 0.25s ease,
    transform 0.125s ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(100%);
}
